aside a{
	float: left;
	direction: rtl;
	margin-left: 0.9em;
	list-style: none;
	color: white;
	border: solid;
	border-color: black;
	padding: 1.2%;
	text-decoration: none;
	cursor: pointer;
}
aside a:hover{
	border-color: #ECC01C;
	color:#ECC01C;
	text-decoration: none;
	-webkit-transition: border-color 1000ms linear;
    -moz-transition: border-color 1000ms linear;
    -o-transition: border-color 1000ms linear;
    -ms-transition: border-color 1000ms linear;
    transition: border-color 1000ms linear;

}