/* --- BARRA NAVEGACION --- */

nav{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.navbar{
    text-decoration: none;
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    padding-top: 0.1em; 
    height: 3.5em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.boton{
    float: left;
    direction: rtl;
    margin-top: 0.5%;
    margin-left: 0.8em;
    list-style: none;
    color: white;
    border: solid;
    border-color: #5F5F5F;
    border-radius: 10%;
    box-shadow: -1px -2px #939393;
    padding: 0.5%;
    text-decoration: none;
    cursor: pointer;
    background-color: #5F5F5F;
    font-weight: bold;
    font-size: 15px;
}
.boton:hover{
    box-shadow:none;
    /*color de la sombra*/
    border-color: #6666ff;
    color:#6666ff;
    text-decoration: none;
    -webkit-transition: border-color 1000ms linear;
    -moz-transition: border-color 1000ms linear;
    -o-transition: border-color 1000ms linear;
    -ms-transition: border-color 1000ms linear;
    transition: border-color 1000ms linear;
}

/* --- LOGIN --- */

.loginNavbar{
    padding-top: 1%;
    height: 2em;
    margin-right: 2%;
    width: 38em;
    float: right;
}
.loginInputText{
    color: #fff;
    margin-left: 1%;
}
#submit{
    margin-top: -1%;
    float: right;
}.botonLink{
    text-decoration:none;
    color: white; 
}
/* --- LOGOUT --- */
#logout{
    float: left;
    margin-left: 33%;
    margin-top: 1%;
}
#textoBienvida{
    float: none;
    margin-left: 0%;
    color: white;
    width: auto;
    display: block;
    clear: right;
}

#logoutBoton{
    float: none;
    margin-top: -11.7%;
    margin-left: 68%;
}
@media screen and (max-width: 851px) {
    #logoutBoton{
        margin-left: 70%;
        margin-top: -11.7%;
    }
} 

/* --- BARRA LATERAL --- */

.aside{
    float: left;
    width: 10%;
    padding: 1%;
    list-style-type: none;
    background-color: #333;
    position: fixed;
    margin-top: -5%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.asideItem{
    display: block;
    padding: 1%;
    text-align: center;
}
.asideItem:hover{
    background-color: #5e5c5c;
}
.asideItem a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.asideTitleItem{
    display: block;
}

.asideTitleItem p{
    text-align: center;
    color: #A8A7A7;
}

/* --- PIE DE PAGINA --- */

footer {
   /*margin-top: 50%;
    position: absolute;*/
    width: 100%;
    margin-left: -1%;
    padding: 1%;
    background-color: #333;
    color: #fff;
    text-align: center;
   position:fixed;
    bottom:0;

}

/*media query*/
@media screen and (min-width: 850px){
    .loginInputText{
        display: inline;
    }
    .boton{
        padding:0.5%;
        font-size: 15px;
    }
   
}

@media screen and (max-width: 851px) {
    .loginNavbar{
        width: 22.5em;
        margin-top: 1%;     
    }
     .loginInputText{
        display: none;
    }
    .boton{
        padding:0.3%;
        font-size: 12px;
        margin-top: 1em;
    }
    .aside{
   font-size: 12px;
    }
}
