/* --- CABEZARA --- */


.headerTitle{
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    font-family: verdana ;
}

/* --- CUERPO --- */

main{
    margin-top: 5%;
    margin-left: 15%;
    width: 75%;
    z-index: -1;
}
/*html{
       background-image:url("../images/background.png"); 

}   */
body{
        
background-image:url("../images/headderBuffet2.png");
        width: 98%;

}   

#textoIndex{
    font-size: 1.2em;
}
.imageComida{
    border-radius: 15px;
    width: 350px;
    height: auto;
}
.textoComida{
    width: 70%;
    float: right;
}
/* --- FORMULARIO PRODUCTO --- */

.formProduc{
    background-color: #333;
    padding: 3% 1% 1% 5%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    height:50em;
}

.formProducinput{
    display: block;
    width: 90%;
    padding: 1%;
    margin: 1%;
}


.formProducText{
    padding: 1%;
    color: #fff;
    display: block;
}
#enviar{
    margin-top: 3%;
}

/* --- TABLA PRODUCTOS --- */
.tablaProductos tbody tr td{
    margin-top: 1%;
    font-size: 1.1em;
    text-align: center;
    width: 2%;
}

.tablaProductos{
    color: #fff;
    background-color: #333;
    padding: 5%;
    margin-left: 10%;
}

.icono {
    width: 2em;
    margin: 1%;
    position: relative;
}

@media screen and (max-width: 851px) {
   .icono {
    width: 1.5em;
    }
    .tablaProductos tbody tr td{
    font-size: 0.9em;
    }
}

