/* --- CABEZARA --- */


.headerTitle{
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    font-family: verdana ;
}

/* --- CUERPO --- */

main{
    margin-top: 5%;
    margin-left: 15%;
    width: 75%;
    z-index: -1;
}
/*html{
       background-image:url("../images/background.png"); 

}   */
body{
        
background-image:url("../images/headderBuffet2.png");
        width: 98%;

}   

#textoIndex{
    font-size: 1.2em;
}

/* --- FORMULARIO PRODUCTO --- */

.formProduc{
    background-color: #333;
    padding: 3% 1% 1% 5%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
}

.formProduc input{
    display: block;
    width:80%;
    padding: 1%;
    margin: 1%;
}

.submit{
    width: 10% !important;
    display: block;
    margin-left: 40%;
    margin-top:3%;
}

.formProducText{
    padding: 1%;
    color: #fff;
    display: block;
}


/* --- TABLA PRODUCTOS --- */

.tablaProductos{
    color: #fff;
    background-color: #333;
    padding: 5%;
}

.ver{
    width: 25%;
    height: auto;
    position: relative;
}

