<ul class="aside">
    <li class="asideTitleItem">
        <p> General </p>
    </li>

    {% if rol == "1" or  rol == "0" %}
    <li class="asideItem">
        <a href="Loader.php?controller=ProductoController&method=productosAM">Alta de productos</a>
    </li>
    
    <li class="asideItem">
        <a href="Loader.php?controller=ProductoController&method=productosListar&pag=0">Listado de productos</a>
    </li>
    
    <li class="asideItem">
            <a href="Loader.php?controller=VenderController&method=vender&pag=0">Ventas de productos</a>
    </li>

    <li class="asideItem">
            <a href="Loader.php?controller=ComprarController&method=compraListar&pag=0">Compras de productos</a>
    </li>

        <li class="asideItem">
            <a href="Loader.php?controller=MenuController&method=menuDia&pag=0&fecha={{"now"|date("Y-m-d") }}">Administracion del Menu</a>
        </li>

        <li class="asideItem">
            <a href="Loader.php?controller=BalanceController&method=index">Balance</a>
        </li>

    {% endif %}

    {% if rol == "1" %}
        <li class="asideItem">
            <a href="Loader.php?controller=vistaProdController&method=listadoFaltantes&pag=0">Productos faltantes</a>
        </li>
        <li class="asideItem">
            <a href="Loader.php?controller=vistaProdController&method=listadoStockMinimo&pag=0">Productos con stock minimo</a>
        </li>
    {%endif%}
    

    {% if rol == "0" %}
        <li class="asideItem">
            <a href="Loader.php?controller=UserController&method=abmUsuario&pag=0">Usuarios</a>
        </li>

        <li class="asideItem">
            <a href="Loader.php?controller=ConfigController&method=configuracionSitio">Configuracion del sitio</a>
        </li>
    {%endif%}
    
    {% if rol == "2" %}
        <li class="asideItem">
            <a href="Loader.php?controller=PedidosController&method=hacerPedido">Hacer pedido Online</a>
        </li>
        <li class="asideItem">
            <a href="Loader.php?controller=PedidosController&method=verPedidos&pag=0">Ver mis pedidos</a>
        </li>
    {%endif%}

</ul>