<ul class="aside">
    <li class="asideTitleItem">
        <p> General </p>
    </li>
    <li class="asideItem">
        {% if rol == "0" %}
            <a href="Loader.php?controller=adminController&method=productosAM">Productos</a>
        {%else%}
            <a href="Loader.php?controller=GestorController&method=productosAM">Productos</a>
        {%endif%}
    </li>
    <li class="asideItem">
	{% if rol == "0" %}
            <a href="Loader.php?controller=adminController&method=vender">Ventas de productos</a>
        {%else%}
            <a href="Loader.php?controller=GestorController&method=vender">Ventas de productos</a>
        {%endif%}
    </li>
    <li class="asideItem">
        <a href="">Gastos</a>
    </li>
    <li class="asideItem">
        <a href="">Menu</a>
    </li>
    {% if rol == "0" %}
        <li class="asideItem">
            <a href="Loader.php?controller=adminController&method=abmUsuario&pag=0">Usuarios</a>
        </li>
    {%endif%}
    <li class="asideItem">
            <a href="">Pedidos On-line</a>
    </li>
    <li class="asideItem">
        {% if rol == "0" %}
            <a href="Loader.php?controller=AdminController&method=productosListar&pag=0">Listado de productos</a>
        {%else%}
            <a href="Loader.php?controller=GestorController&method=productosListar&pag=0">Listado de productos</a>
        {%endif%}
    </li>
    <li class="asideTitleItem">
            <p>Balance</p>
    </li>
    {% if rol == "0" %}
        <li class="asideItem">
            <a href="Loader.php?controller=GestorController&method=listadoFaltantes">Productos faltantes</a>
        </li>
        <li class="asideItem">
            <a href="Loader.php?controller=GestorController&method=listadoStockMinimo">Productos con stock minimo</a>
        </li>
    {%endif%}
    <li class="asideItem">
        <a href="">Ingresos entre fechas</a>
    </li>
    <li class="asideItem">
        <a href="">Gastos entre fechas</a>
    </li>
    {% if rol == "0" %}
        <li class="asideItem">
            <a href="Loader.php?controller=adminController&method=configuracionSitio">Configuracion del sitio</a>
        </li>
    {%endif%}
</ul>