{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <img src="libchart/demo/generated/demo.png" alt="grafico kilos entregados">
    <a href="Loader.php?class=BalanceController&mehotd=exportarPDF"> <button>Exportar a PDF</button></a>

{% endblock %}