{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    <div>
        <img src="libchart/demo/generated/demo.png" alt="grafico kilos entregados">
        <img src="libchart/demo/generated/demo2.png" alt="grafico kilos entregados">
        <a href="Loader.php?class=BalanceController&mehotd=exportarPDF"> <button>Exportar a PDF</button></a>
    </div>
{% endblock %}