{% extends 'Template/Backend/MenuListarTemplate.twig' %}

{% block calendario %}
<div id="calendario" class="sombreado">
    <script>"ponerFechaActual()"</script>
    <div id="cabezeraCalendario">
        <div id="nombreMesDiv">
            <a id="NombreMes"></a>
        </div>
        <div id="sigAnoDiv">
            <a class="sigAno" onclick="annoAtras()"> &lt </a>
            <span id="AnnoActual"></span>
            <a class="sigAno" onclick="annoAdelante()"> > </a>
        </div>
    </div>
    <!-- Menus de los meses -->
    <TABLE id="mnuPOPMeses" class="menu">
        <TR>
            <TD id="mnuEne" class="mes" onclick=generarMes(0)>Enero</TD>
            <TD id="mnuFeb" class="mes" onclick=generarMes(1)>Febrero</TD>
            <TD id="mnuMar" class="mes" onclick=generarMes(2)>Marzo</TD>
            <TD id="mnuAbr" class="mes" onclick=generarMes(3)>Abril</TD>
        </TR>
        <TR>
            <TD id="mnuMay" class="mes" onclick=generarMes(4)>Mayo</TD>
            <TD id="mnuJun" class="mes" onclick=generarMes(5)>Junio</TD>	
            <TD id="mnuJul" class="mes" onclick=generarMes(6)>Julio</TD>
            <TD id="mnuAgo" class="mes" onclick=generarMes(7)>Agosto</TD>	
        </TR>
        <TR>
            <TD id="mnuSet" class="mes" onclick=generarMes(8)>Setiembre</TD>
            <TD id="mnuOct" class="mes" onclick=generarMes(9)>Octubre</TD>
            <TD id="mnuNov" class="mes" onclick=generarMes(10)>Noviembre</TD>
            <TD id="mnuDic" class="mes" onclick=generarMes(11)>Diciembre</TD>
        </TR>
    </TABLE>
     <!-- Hoja del almanaque -->
    <div id=HojaMes></div>
</div>
{% endblock %}