{% extends 'Template/layaout.twig' %}

{% block nav %}
    <ul class="navbar" id="navbar">
        <li id="logout">
            <p class="loginNavbar" id="textoBienvida">Bienvenido
            {% if rol == "0" %}
                Administrador
            {%else%}
                Gestion
            {%endif%}
            </p>
            <p class="boton" id="logoutBoton"><a class="botonLink" href="Loader.php?controller=MainUserController&method=cerrarSesion">Cerrar Sesion</a></p>
        </li>
    </ul>
{% endblock %}

{% block aside %}

    {{ include('Template/Backend/BackendAsideTemplate.twig') }}

{% endblock %}