{% extends 'Template/layaout.twig' %}

{% block nav %}
    <ul class="navbar" id="navbar">
        <div id="logout">
            <li class="loginNavbar" id="textoBienvida">Bienvenido</li>
            <li class="boton" id="logoutBoton"><a class="botonLink" href="Loader.php?controller=MainUserController&method=cerrarSesion">Cerrar Sesion</a></li>
        </div>
    </ul>
{% endblock %}

{% block aside %}

    {{ include('Template/Backend/BackendAsideTemplate.twig') }}

{% endblock %}