{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    <div>
    <div class="paginas sombreado">
        {% if rol == '2' %}
    <a class="boton" href="Loader.php?controller=PedidosController&method=verPedidos&pag=0">Volver</a>
        {% else %}
            <a class="boton" href="Loader.php?controller=GestionPedidoController&method=verPedidos&pag=0">Volver</a>
        {% endif %}
            </div>
    <table class="tablaProductos sombreado">
    <thead>
    <tr>
        <th class="columnaAncha" id="nombre">Nombre</th>
        <th class="columnaAncha" id="marca">Marca</th>
        <th class="columnaAncha" id="stock">Stock</th>
        <th class="columnaAncha" id="precio">precio</th>
    </tr>
    </thead>
    <tbody>

    {% for detalle in detalles %}
        <tr class="file">
            <td headers="nombre">{{ detalle.nombre }}</td>
            <td headers="marca">{{ detalle.marca }}</td>
            <td headers="stock">{{ detalle.stock }}</td>
            <td headers="precio">{{ detalle.precioVentaUnitario }}</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>
{% endblock %}