{% extends 'IndexTemplate.twig' %}

{% block main %}
     <script type="text/javascript" src="script/script.js"></script>
    
    <form name="formUser" class="formProduc clearfix sombreado" action="/BalanceController/balanceRango" method="post">
        <input type="hidden" name="tokenScrf" value="{{ tokenScrf }}">

        <label for="fechaInicio" class="formProducText">Día inicio del balance:</label>
        <input type="text" name="fechaInicio" id="datepicker1" class="fecha fechaBalance" value="{{ fechaInicio }}"  required> 
        <script>$( function() {$( "#datepicker1" ).datepicker();} );</script>
        
        <label for="fechaFin" class="formProducText">Día fin del balance:</label>
        <input type="text" name="fechaFin" id="datepicker2" class="fecha fechaBalance" value="{{ fechaFin }}"  required> 
        <script>$( function() {$( "#datepicker2" ).datepicker();} );</script>
        
        <input type="submit" class="boton" id="submitButton2" name="submitButton2" onclick="ponerFechaDoble()">

    </form>

{% endblock %}