{% extends 'Template/layaout.twig' %}

{% block nav %}

    {{ include('Template/Main/MainNavTemplate.twig') }}

{% endblock %}

{% block main %}

    <form name="formProduc" class="formProduc clearfix" action="/Loader.php?c" method="post">
        <label for="nombre" class="formProducText">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="formProducinput"  placeholder="No se admiten número ni caracteres especiales, solo acentos" maxlength="25" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹ ]+$" autofocus required>

        <!-- esto en un futuro podría ser una lista -->
        <label for="marca" class="formProducText">Marca:</label>
        <input type="text" name="marca" id="marca" class="formProducinput" placeholder="No se admiten números ni caracteres especiales" maxlength="25" pattern="^[A-Za-z ]+" required>

        <label for="codigoBarras" class="formProducText">Codigo de barras:</label>
        <input type="text" name="codigoBarras" id="codigoBarras" class="formProducinput" placeholder="Solo se admiten números sin separaciones" maxlength="25" pattern="^[0-9]+" required>

        <label for="cantidadStock" class="formProducText">Cantidad de stock:</label>
        <input type="number" name="cantidadStock" id="cantidadStock" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2">

        <label for="cantidadMinimaStock" class="formProducText">Cantidad minima stock:</label>
        <input type="number" name="cantidadMinimaStock" id="cantidadMinimaStock" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2" required>

        <label for="categoria" class="formProducText">Categoria:</label>
        <!-- esto seguramente en un futuro sea un listado -->
        <input type="text" name="categoria" id="categoria" class="formProducinput" placeholder="Surtido, Golosinas" maxlength="25" pattern="^[A-Z|a-z]{1,25}$" required>

        <label for="proveedor" class="formProducText">Proveedor:</label>
        <!-- esto tambien podria ser una lista en un futuro -->
        <input type="text" name="proveedor" id="proveedor" class="formProducinput" placeholder="Un proveedor" maxlength="25" pattern="^[A-Z|a-z]{1,25}$" required>

        <label for="precioUnitario" class="formProducText">Precio Unitario:</label>
        <input type="number" name="precioUnitario" id="precioUnitario" class="formProducinput" step="0.01" placeholder="2,50" maxlength="5" required>

        <!-- esto en un futuro puede ser que no esté ya que se hace en el servidor -->
        <label for="fechaAlta" class="formProducText">Fecha de alta en el sistema:</label>
        <input type="date" name="fechaAlta" id="fechaAlta" class="formProducinput" maxlength="8" min="1900-01-01" max="2016-15-15" required>

        <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
        <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
    </form>

{% endblock %}